

@model Admin.Models.EventAddTicketEvent


@{
    ViewData["Title"] = "Events";
}




<h3>Add Event</h3>

@using (Html.BeginForm("EventAdd", "Home", FormMethod.Post))
{

    @Html.LabelFor(m => m.NewEvent.EventName, "Name")<br />
    @Html.TextBoxFor(m => m.NewEvent.EventName, new { @required = true })<br />
    @Html.LabelFor(m => m.NewEvent.EventHtmlDescription, "Description")<br />
    @Html.TextBoxFor(m => m.NewEvent.EventHtmlDescription, new { @required = true })<br />
    <input type="submit" value="Add" />
}

<h3>List of Events</h3>
@if (Model.ExistingEvents != null)
{

    <select>
    @foreach (var x in Model.ExistingEvents)
    {
        <option value="@x.TicketEventId">@x.EventName</option>
    }
    </select>
     <input id="Id" type="button" value="Delete" onclick="@Html.ActionLink("EventRemove","Home")"  />
}